.wrap {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  padding: 0 30rpx;

  &-tab {
    margin: 32rpx 0;
    height: 70rpx;
    box-sizing: border-box;
    padding: 0 52rpx;

    &-item {
      width: 140rpx;
      height: 70rpx;

      border-radius: 52rpx;
      text-align: center;
      line-height: 70rpx;
      color: #fff;

      font-size: 36rpx;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;

      &.is-active {
        background: #fff;
        color: #75acff;
      }
    }
  }
}
.chart {
  &-title {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666;
    line-height: 40rpx;
    text-align: center;
    margin-bottom: 12rpx;
  }

  &-subtitle {
    view {
      font-size: 60rpx;
      font-family: DINAlternate-Bold, DINAlternate;
      font-weight: bold;
      color: #1e1e1e;
      line-height: 1;
      vertical-align: bottom;
      margin-bottom: 16rpx;
      text-align: center;
    }
    text {
      font-size: 28rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #666;
      line-height: 1;
      display: block;
      margin-left: 20rpx;
    }
  }
  &-date {
    font-size: 24rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #bfbfbf;
    line-height: 34rpx;
    text-align: center;
    margin-bottom: 40rpx;
  }
}
