/* margin padding */

.mg(@a: 1) when(@a <=10) {
  @i: @a * 5;

  .ml-@{i} {
    margin-left: @a * 5rpx;
  }

  .mr-@{i} {
    margin-right: @a * 5rpx;
  }

  .mt-@{i} {
    margin-top: @a * 5rpx;
  }

  .mb-@{i} {
    margin-bottom: @a * 5rpx;
  }

  .pl-@{i} {
    padding-left: @a * 5rpx;
  }

  .pr-@{i} {
    padding-right: @a * 5rpx;
  }

  .pt-@{i} {
    padding-top: @a * 5rpx;
  }

  .pb-@{i} {
    padding-bottom: @a * 5rpx;
  }

  .mg((@a + 1));
}

.mg();

/** flex */
.flex {
  display: flex;
}

.align-center {
  .flex;
  align-items: center;
}

.justify-between {
  .flex;
  justify-content: space-between;
}

.justify-around {
  .flex;
  justify-content: space-around;
}

.justify-center {
  .flex;
  justify-content: center;
}

image {
  display: block;
}

.ellipsis,
.line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

each(range(5), {
  & when (@value>1) {
    .ellipsis-@{value},
    .line-@{value} {
      overflow:hidden;
      text-overflow:ellipsis;
      display:-webkit-box;
      -webkit-line-clamp:@value;
      -webkit-box-orient:vertical;
    }
  }
})
each(range(36), {
  & when (@value>=22) {
    .f@{value} {
      font-size: @value*1rpx;
    }
  }
})

.ov {
  overflow: hidden;
}
.media-wrap {
  background-color: #eee;
  overflow: hidden;

  video,
  image {
    width: 100%;
    height: 100%;
    display: block;
  }
}
